body {
    background: #F3F5FF;
}

.message {
    margin-bottom: 15px;
}

.message-box {
    margin: 0 15px;
    line-height: 30px;
}

.message-box-content {
    border: 1px solid #ebebeb;
    border-radius: 2rem;
    background-color: white;
    padding: 15px 15px 0 25px;
}

.message-me {
    display: flex;
    position: relative;
    background: #ebebeb;
    align-items: flex-start;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    flex-direction: column;    
}

.message-it {
    display: flex;
    position: relative;
    background: #ebebeb;
    align-items: flex-end;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    flex-direction: column;
}

.message-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.message-date {
    color: #aaa;
}

.header-chatroom {
    background: #eee;
    padding: 20px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.middle {
    height: 20rem;
    background: white;
    overflow-y: auto;
}

.sendbox {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    padding: 10px 5px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.sendbox-input {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
    margin: 0 20px 0 0;
}

.mini-input-sendbox {
    color: #4A4A4A;
    cursor: text;
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: 0;
}

.sendbox-icons {
    color: rgba(0, 0, 0, 0.54);
    margin: 0 10px;
    overflow: visible;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    border: 0;
    font-size: 20px;
    cursor: pointer;
}

.paper {
    width: 50rem;
    height: max-content;
    margin: 3rem auto;
}

.paper-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
}

.users-name {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.user-item {
    padding: 5px;
    font-size: 20px;
    background-color: #eee;
    border-radius: 2px;
    border: 5px solid transparent;
    margin: 10px 10px 10px 0;
    color: #4A4A4A;
    cursor: pointer;
}

.user-item-active {
    background-color: #fff;
}

.sound-wave {
    display: none;
}

.message-box-content audio {
    border-radius: 10px;
}

.attach-link {
    display: flex;
    color: unset;
    text-decoration: none;
    align-items: center;
}

.attach-icon {
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    background-color: #16A085;
    color: white;
    border-radius: 15%;
    margin-right: 1rem;
}

.icon-btn {
    cursor: pointer;
}

.icon-btn-box {
    border: 0;
    background: transparent;
    color: rgba(0, 0, 0, 0.54);
    font-size: 17px;
    padding: 10px;
}

.settings {
    background: #fff;
    overflow-y: auto;
    height: 10rem;
}

.settings-icon {
    float: right;
    font-size: 18px;
    cursor: pointer;
}

.select-a-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}